<!-- Footer -->
<footer>
  <a class="leftmost" href="https://jhu.edu" target="_blank">
    <img alt="Johns Hopkins University" width="100" src="/assets/university_logo_small_vertical_blue.png" />
  </a>
  <span>
    |
    Created by David Margolis
    |
  </span>
  <a class href="https://apps.ep.jhu.edu/course-homepages/2782-605.728-quantum-computation-zaret" target="_blank">
    Course: Quantum Computation
  </a>
  <span>
    |
  </span>
  <a class href="https://ep.jhu.edu/about-us/faculty-directory/405-david-zaret" target="_blank">
    Instructor: David Zaret
  </a>
</footer>