<!-- Footer -->
<footer>
  <mat-list>
    <mat-divider></mat-divider>
    <mat-list-item>
      <a href="https://jhu.edu" target="_blank">
        <img alt="Johns Hopkins University" width="100" src="/assets/university_logo_small_vertical_blue.png"/>
      </a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      Created by David Margolis
      <mat-divider [inset]="true"></mat-divider>
    </mat-list-item>
    <mat-list-item>
      <a href="https://apps.ep.jhu.edu/course-homepages/2782-605.728-quantum-computation-zaret" target="_blank">
        Course: Quantum Computation
      </a>
    </mat-list-item>
    <mat-list-item>
      <a href="https://ep.jhu.edu/about-us/faculty-directory/405-david-zaret" target="_blank">
        Instructor: David Zaret
      </a>
    </mat-list-item>
  </mat-list>
</footer>
