<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Type Expression in QASM 2.0
            </mat-panel-title>
            <mat-panel-description>
                Tap for more information
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-card>
            <mat-card-header>
                <img mat-card-avatar alt="info" src="https://fonts.gstatic.com/s/i/materialicons/info/v7/24px.svg">
                <mat-card-title>OpenQASM is an intermediate quantum instructions language</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list-item>
                    <span>
                        <a href="https://github.com/Qiskit/openqasm/blob/master/spec/qasm2.rst">QASM Assembly
                            Language</a>
                        &nbsp;- This has very thorough documentation on the language.
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span>
                        <a href="https://github.com/Qiskit/openqasm/tree/master/examples/generic">Lots of good
                            examples.</a>
                        &nbsp;- You can paste the file contents directly into the above input textbox.
                    </span>
                </mat-list-item>
            </mat-card-content>
        </mat-card>
    </mat-expansion-panel>
</mat-accordion>